<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小树屋</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div class="show">
  </div>
  <div class="svg-wrapper">
    <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
    </svg>
    <input class="nameInput" id="article" placeholder="在这里说话，猪头">
    </input>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./assets/js/main.js"></script>

</body>

</html>